<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h3 class="modal-title">Changelog</h3>
      </div>
      <div class="modal-body">
        <h3> 20/05/2014 AngularJS Migration!!</h3>
        <p>All the webpage have been migrated to Angular JS.
        The webpage looks 99% equal than the previous version, but the source code have changed completely.
        <ul>
          <li>Migration to AngularJS and their functionalities to build de webpage</li>
          <li>Source code is well organized, each section is defined in a separated file with their own controller (if needed)</li>
          <li>Bower, grunt (yeoman) for generate the final code and posibility of run tests (karma)</li>
          <li>Dinamic loading of the pictures, publications and courses which now are stored in json files.
            This makes the html cleaner and easy to add new elements</li>
          <li>Angular directives for scroolling and scroll spy</li>
        </ul>
        Other minor issues:
        <ul>
          <li>Updated CV</li>
          <li>Updated Sports section</li>
          <li>Updated Courses section</li>
        </ul>
        </p>
        
        <h3> 13/12/2013 </h3>
        <ul>
          <li>
            New layout page released. The contact information is on the beginning of the web.
          </li>
          <li>
            Sports section added.
          </li>
        </ul>
        <h3> 26/09/2013 </h3>
        <ul>
          <li>
            This amazing changelog has been added!
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
