<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <p>I use this webpage for trying and get fun with new technologies. I build this webpage from the scratch using mainly
        AngularJs, bootstrap and other libraries. The code of the webpage is also available
          <a href="{{urls.webcode}}">here</a>.
        </p>
        <h3 class="modal-title">Changelog</h3>
      </div>
      <div class="modal-body">
        <h4>07/06/2014</h4>
        <ul>
          <li>Animations! Wow library to add some fancy animation.</li>
          <li>Minor style changes for better reading.</li>
          <li>Domain aquired, now it is possible to access to the web page from: <a ng-href="{{urls.joan}}">{{urls.joan}}</a></li>
          <li>Minor cv updated</li>
        </ul>
        <h3>28/04/2015 New design and content of the web</h3>
        Finally I could change the page to something more useful. I removed some data to make the page more readable.

        <ul>
          <li>New design based on <a href="http://ironsummitmedia.github.io/startbootstrap-creative/#">creative bootstrap template</a></li>
          <li>A picture of Lausane as landing page</li>
          <li>New PhD small section. Publications are now shown in a modal interface </li>
          <li>New design for GitHub, Bitbucket and Programming pages</li>
          <li>Sport section have been removed</li>
          <li>Changelog is now called about this page</li>
        </ul>
        <h3>14/10/2014</h3>
          <ul>
           <li> CV Updates (September) </li> 
          </ul>
        <h3>01/06/2014 Hot Fix Release</h3>
        After the feedback of some colleagues, some features have been corrected:
        <ul>
          <li>Corrected the utf-8 publications problem on the server</li>
          <li>Translation mistake in CV</li>
          <li>Minimizer have been deactivated</li>
          <li>Clocalprog updated to 2014</li>
        </ul>
        Other issues:
        <ul>
          <li>More pictures!</li>
        </ul>
         Thank you Marcos, Mario and Ximo,
        <h3> 20/05/2014 AngularJS Migration!!</h3>
        <p>All the webpage have been migrated to Angular JS.
        The webpage looks 99% equal than the previous version, but the source code have changed completely.
        <ul>
          <li>Migration to AngularJS and their functionalities to build the webpage</li>
          <li>Source code is well organized, each section is defined in a separated file with their own controller (if needed)</li>
          <li>Bower, grunt (yeoman) for generate the final code and posibility of run tests (karma)</li>
          <li>Dinamic loading of the pictures, publications and courses which now are stored in json files.
            This makes the html cleaner and easy to add new elements</li>
          <li>Angular directives for scroolling and scroll spy</li>
        </ul>
        Other minor issues:
        <ul>
          <li>Updated CV</li>
          <li>Updated Sports section</li>
          <li>Updated Courses section</li>
        </ul>
        </p>
        
        <h3> 13/12/2013 </h3>
        <ul>
          <li>
            New layout page released. The contact information is on the beginning of the web.
          </li>
          <li>
            Sports section added.
          </li>
        </ul>
        <h3> 26/09/2013 </h3>
        <ul>
          <li>
            This amazing changelog has been added!
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
