<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-8">
            <h2 class="section-heading">More coding...</h2>
            <p>I have a keen interest in algorithms and programming.</p>
            <p>I have participated at several editions of <a href="{{urls.codejam}}" target=_blank>Google Codejam</a>, <a href="{{urls.hackercup}}" target=_blank>Facebook Hackercup</a> and <a href="{{urls.codeforces}}" target="_blank">Codeforces</a>.
            <p>Furthermore, I participated and being one of the 50 top particpants at <a href="{{urls.tuenti}}" target="_blank">Tuenti Programming Challenge</a>.</p>
            I have been involved in organizing programming contests, such as the <a href="{{urls.clocalprog}}" target="_blank">CompeticiónLocal de Programación</a>
            in which I have been judge and problem setter since 2011. Moreover, I had the honour of being a member of the judges and problem setters committee for the 2012 and 2013 editions of the <a href="{{urls.swerc}}" target="_blank">Southwestern European Regional Programming</a> integrated in the ACM International Collegiate Programming Contests.</p>
            <p>I like also, make problemas at the <a href="{{urls.uva}}" target="_blank">UVA Online Judge</a> and <a href="{{urls.codeforces}}" target="_blank">Codeforces</a>for fun.</p>

        </div>
        <div class="col-md-4 center-block text-center visible-lg">
            <p><img  src="images/uvajudge.png" class="img-responsive" alt="Uva Online Judge"/></p>
            <p><img src="images/codeforces.png" class="img-responsive text-center pagination-centered" alt="Codeforces"/></p>
            <p> <img src="images/clocalprog2014.png" class="img-responsive text-center pagination-centered" alt="CLocalProg"/></p>
        </div>
    </div>
</div>