<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="page-header">
        <h2>Contact</h2>
      </div>
      <address>
        <strong>Departamento de Sistemes Inform&agrave;tics i Computaci&oacute;</strong>
        <b>Edificio 1F</b>
        <br>
        Universitat Polit&egrave;cnica de Val&egrave;ncia
        <br>
        Camino de Vera s/n
        <br>
        46022, Valencia, Spain
        <br>
        <abbr title="Phone">P:</abbr> +34 963877000 <abbr title="Extension">Ext: 73566</abbr>
      </address>

      <address>
        <strong>Joan Pastor Pellicer</strong>
        <br>
        jpastor __AT__ dsic.upv.esim
        <br>
        joapaspe __AT__ gmail.com
      </address>

    </div>

    <div class="col-md-4">
      <h3>My Cv</h3>
      <div class="row">
        <div class="col-md-6">
          <div class="media">
            <a class="pull-left" href="files/joan-pastor-cv.pdf" target="_blank"> <img class="media-object" src="images/pdf.jpg" width="64"/> </a>
            <div class="media-body">
              <h4 class="media-heading">Spanish Version</h4>
              Last Update: June, 2013.
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="media">
            <a class="pull-left" href="files/joan-pastor-cv-en.pdf" target="_blank"> <img class="media-object" src="images/pdf.jpg" width="64"> </a>
            <div class="media-body">
              <h4 class="media-heading">English Version</h4>
              Last Update: September, 2013. <span class="label label-info">New!</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

