<div class="container" ng-controller="PersonalCtrl">
  <h2 class="section-heading">Online Courses:</h2>
  <div class="row">

    <div class="col-md-6">

      <div class="hero-unit">
        <p>
          I I like to learn and discover new topics. I took some courses (MOOCs) from the platforms <a href="http://www.coursera.org">Coursera</a>
          and <a href="http://www.udacity.com">Udacity</a>.
        </p>
        <p>
          Check out my Coursera profile at:
        </p>
        <p class="text-center">
          <a href="{{urls.coursera}}" target="_blank"><img src="images/coursera.png" class="img-responsive"></a>
        </p>
      </div>
    </div>
    <div class="col-md-6">

      <ul>
        <li ng-repeat="course in courses">
          <a href={{course.url}} target="_blank">{{course.title}}</a>, {{course.date}}.
        </li>
      </ul>
    </div>
    <hr>
  </div>

    <!--  <h2> Sports: </h2>
      <p>
      I like to spend some time doing sports. After work I use to join to the Athletism Club at the UPV and swim on the swimming pool. I like to run in popular races, and I am looking forward to run my first marathon this year. In summer I love to enjoy beach volleyball with my colleagues!
      </p>
      <div class="row">
        <div class="col-md-4">
          <img class="img-responsive" src="pictures/runners.jpg"/>
        </div>
        <div class="col-md-8">
          <iframe src="http://www.endomondo.com/embed/user/summary?id=3586014&sport=0&measure=0&zone=Gp0100_CPH&width=680&height=217" width="680" height="217" frameborder="0" scrolling="no" ></iframe>
        </div>
      </div>
  </div>-->
</div>
