<div class="row">
    <div class="visible-md visible-lg col-md-offset-1 col-md-5">
        <img src="images/phd.png" class="img-responsive" alt="Responsive image">
    </div>
    <div class="col-xs-offset-1 col-xs-4">
        <h2>About my PhD</h2>
        <p>I am focusing my research in text document preprocessing.</p>
        <p>I work on the previous stages before the text OCR, specially in Ancient and Medieval documents which presents more complex data.</p>
        <p>I forgot to mention, that I am using machine learning techniques like Neural Networks and deep learning!</p>
        <p>This is some topics that I cover in my research:</p>
        <ul>
            <li>Document Image cleaning and enhacement</li>
            <li>Text Line Extraction</li>
            <li>Text Line Preprocessing and Normalization</li>
            <li>A bit of decoding...</li>
        </ul>
    </div>
</div>