<div class="container">
<div class="row">
    <div class="visible-md visible-lg  col-md-6 wow bounceInLeft" >
        <img src="images/phd.png" class="img-responsive" alt="Phd">
    </div>
    <div class="col-sm-12 col-md-6">
        <h2>About my PhD</h2>
        <p>I am focusing my research in text document preprocessing.</p>
        <p>I work on the previous stages before the text OCR, specially in Ancient and Medieval documents which present more complex data.</p>
        <p>I forgot to mention, that I am using machine learning techniques like Neural Networks and deep learning!</p>
        <p>Some topics I cover in my research:</p>
        <ul>
            <li>Document Image cleaning and enhacement</li>
            <li>Text Line Extraction</li>
            <li>Text Line Preprocessing and Normalization</li>
            <li>A bit of decoding...</li>
        </ul>



        <!--<button type="button" class="center-block btn btn-lg" data-toggle="modal" data-target="#pubModal">
            <i class="fa fa-book fa-2x">&nbsp;</i>My publications
        </button>-->
        <div class="text-center">
        <h4><a href="" data-toggle="modal" data-target="#pubModal"><i class="fa fa-book fa-2x">&nbsp;</i>My publications</a></h4>
        </div>
    </div>

</div>
</div>
<!-- Modal -->
<div class="modal fade" id="pubModal" tabindex="-1" role="dialog" aria-labelledby="pubLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid">
                <div ng-include="'views/publications.html'"></div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
