<div class="container">
  <div class="row wow">
    <div class="col-lg-offet-2 col-xs-6 col-lg-2 center-block service-box text-center wow bounceIn" data-wow-delay="500ms">
      <a href="{{urls.twitter}}" target="_blank"><i class="fa fa-twitter fa-lg fa-5x"></i></a>
    </div>
    <div class="col-xs-3 col-lg-2 center-block service-box text-center wow bounceIn" data-wow-delay="600ms">
      <a href="{{urls.facebook}}" target="_blank">
        <i class="fa fa-facebook fa-lg fa-5x"></i>
      </a>
    </div>
    <div class="col-xs-6 col-lg-2 center-block service-box text-center wow bounceIn" data-wow-delay="700ms">
      <a href="{{urls.linkedin}}" target="_blank">
        <i class="fa fa-linkedin fa-lg fa-5x"></i>
      </a>
    </div>
    <div class="col-xs-3 col-lg-2 center-block service-box text-center wow bounceIn" data-wow-delay="800ms">
      <a href="{{urls.plus}}" target="_blank">
        <i class="fa fa-google-plus fa-lg fa-5x"></i>
      </a>
    </div>

    <div class="col-xs-3 col-lg-2 center-block service-box text-center wow bounceIn" data-wow-delay="900ms">
      <a href="{{urls.github}}" target="_blank">
        <i class="fa fa-github fa-lg fa-5x"></i>
      </a>
    </div>

  </div>

</div>
<!--
<div class="container">
  <div class="page-header">
    <h2>Social</h2>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <div class="g-person" data-href="//plus.google.com/114143608217887742364" data-rel="author"></div>

      &lt;!&ndash; Place this tag after the last widget tag. &ndash;&gt;
      <script type="text/javascript">
        (function() {
          var po = document.createElement('script');
          po.type = 'text/javascript';
          po.async = true;
          po.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(po, s);
        })();
      </script>
      <p>
        &lt;!&ndash; Facebook Badge START &ndash;&gt;<a href="http://www.facebook.com/joapaspe" target="_TOP" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" title="Joan Pastor">Joan Pastor</a>
        <br/>
        <a href="http://www.facebook.com/joapaspe" target="_TOP" title="Joan Pastor"><img src="http://badge.facebook.com/badge/1121859428.3109.531556530.png" style="border: 0px;" /></a>&lt;!&ndash; Facebook Badge END &ndash;&gt;
      </p>
      &lt;!&ndash; Place this tag where you want the widget to render. &ndash;&gt;
    </div>
    <div class="col-xs-2">
      <p>
        <a href="http://es.linkedin.com/in/joapaspe"> <img src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x33.png" width="160" height="33" border="0" alt="View Joan Pastor Pellicer's profile on LinkedIn"> </a>
      </p>

    </div>

    <div class="col-xs-6">
      <a class="twitter-timeline" href="https://twitter.com/joan_batiste" data-widget-id="351015601390624769">Tweets by @joan_batiste</a>
      <script>
        ! function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
          if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + "://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
          }
        }(document, "script", "twitter-wjs");
      </script>

    </div>
  </div>
</div>-->
